<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--控制台輸出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化輸出：%d表示日期，%thread表示線程名稱，%-5level：級別從左提示5個字元寬度，%logge顯示日誌紀錄器名稱，%logger{50}：最長50個字元(超出，切割)-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--系統文件輸出-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日誌文件輸出的文件名，%i表示序號-->
            <FileNamePattern>D:/management-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <!--最多保留的歷史日誌文件數量-->
            <MaxHistory>30</MaxHistory>
            <!--最大文件大小，超過這個大小會觸發滾動到新聞見，默認為10MB-->
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化輸出：%d表示日期，%thread表示線程名稱，%-5level：級別從左提示5個字元寬度，%msg表示日誌訊息，%n表示換行符，%logger{50}：最長50個字元(超出，切割)-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--日誌輸出級別-->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>